.contact{
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 29px;
    background-image: url('https://image.freepik.com/free-vector/elegant-white-texture-background_23-2148431731.jpg');
height: 450px;

    
}